{% load static %}
<html>

<head>
    <title>心脏病相关概述</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif;
        }

        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
    </style> -->
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="{% url 'index' %}">心脏病病因</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="{% url 'index' %}">主页</a></li>
                    <li>
                        <a href="#" class="icon solid fa-angle-down">目录</a>
                        <ul>
                            <li><a href="{% url 'generic' %}">Generic</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'elements' %}">Elements</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option One</a></li>
                                    <li><a href="#">Option Two</a></li>
                                    <li><a href="#">Option Three</a></li>
                                    <li><a href="#">Option Four</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{% url 'signup' %}" class="button">登录/注册</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div class="w3-main" style="margin-left:70px">

            <div class="w3-row w3-padding-64">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">心脏病的病因有哪些?</h1>
                    <p>根据病因心脏病可分为先天性心脏病和后天性心脏病。
                        <br><b>1 家族遗传疾病</b>
                        如果家族中有男性小于55岁、女性小于65岁就发生心脏病的, 常常提示患者的心脏病可能是由于遗传导致的。例如常见的有肥厚型心肌病往往是遗传所致，马凡综合征也常常与遗传因素所致心脏损伤有关。
                        <br><b>2 先天发育缺陷</b>
                        排除遗传的可能，患儿的心脏结构或功能先天异常；或由于患者的免疫系统先天发育异常，导致心脏受到免疫系统的攻击而受到损伤，也会引起心脏病。
                        母亲有先兆流产史，新生儿患先心病的几率高，早产的婴儿患有先心病的几率高；母亲年龄过大、患有糖尿病或苯丙酮尿症，诱发新生儿患先心病；孕早期感染病毒或细菌、喝酒或服用毒品会诱发新生儿患先心病；孕期接触有毒物质、放射线或被病毒感染过，会引起胎儿发生心脏发育缺陷。
                        <br><b>3 感染因素</b>
                        一些容易累及心脏病变的感染会直接破坏心脏功能或结构，造成心脏病。
                        特定链球菌感染更导致风湿性心脏病；口腔疾病的一些细菌会导致心内膜炎，进一步诱发相关心脏疾病；一些呼吸道病毒感染还会引发心肌炎，进一步发展成严重心脏疾病。

                    </p>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">心脏病有哪些诱发因素?</h1>
                    <p>
                        <br><b>年龄: </b>衰老会增加动脉受损、狭窄，心肌薄弱、增厚的风险。
                        <br><b>性别: </b>男性患心脏病的风险更高，但绝经后妇女患心脏病的风险也会升高。
                        药物或特殊治疗：长期服用某些药物如避孕药或糖皮质激素会诱发心脏病；一些保健品或中药也会损伤心脏而诱发心脏病；放化疗的心肌毒性也会直接导致心脏病。
                        <br><b>精神压力: </b>长期精神压力大、焦虑易怒的患者易发生心脏病。
                        <br><b>高血压: </b>高血压长期得不到控制，会导致动脉硬化和增厚，进而引起心脏的结构和功能异常。
                        <br>高血脂、高血糖：血脂水平、血糖水平过高会增加血管形成斑块和粥样硬化的风险，进而诱发心脏病。
                        <br><b>不良的生活习惯: </b>高脂、高盐、高糖饮食，缺乏运动、酗酒、吸食毒品、肥胖等会诱发代谢失衡，影响血管正常。
                        <br><b>吸烟或吸二手烟: </b>烟草中的尼古丁会收缩血管，一氧化碳会损坏血管内壁。此外，胸廓畸形、微量元素如硒缺乏，均易诱发心脏病。
                    </p>
                </div>
            </div>

            <div class="w3-row w3-padding-64">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">心脏病有哪些类型?</h1>
                    <p>根据病因心脏病可分为先天性心脏病和后天性心脏病。
                        <br><b>1 先天性心脏病</b>
                        先天性心脏病，简称先心病，是指因胎儿时期心脏发育异常导致的心脏畸形所致，常见的有室间隔缺损、房间隔缺损、法洛四联症等。部分患者会因先天免疫系统异常，导致心肌受损，也会形成先天性心脏病。
                        <br><b>2 后天性心脏病</b>
                        后天性心脏病这一名称是相对于先心病，对获得性因素导致的心脏病的总称，指因非发育性原因导致的心脏结构和功能异常，比如冠状动脉粥样硬化性心脏病（冠心病）、风湿性心脏病（风心病）、感染性心肌或心内膜病变、高血压性心脏病、肺源性心脏病（肺心病）等。
                    </p>
                </div>
            </div>

            <!-- END MAIN -->
        </div>

        <!-- Footer -->
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>