{% load static %}
<html>

<head>
    <title>心脏病相关概述</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif;
        }

        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
    </style> -->
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="{% url 'index' %}">心脏病相关概述</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="{% url 'index' %}">主页</a></li>
                    <li>
                        <a href="#" class="icon solid fa-angle-down">目录</a>
                        <ul>
                            <li><a href="{% url 'generic' %}">Generic</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'elements' %}">Elements</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option One</a></li>
                                    <li><a href="#">Option Two</a></li>
                                    <li><a href="#">Option Three</a></li>
                                    <li><a href="#">Option Four</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{% url 'signup' %}" class="button">登录/注册</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div class="w3-main" style="margin-left:70px">

            <div class="w3-row w3-padding-64">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">心脏病是什么?</h1>
                    <p>心脏病(heart disease)是心脏发生病变的疾病总称, 是一种常见的心内科疾病, 由心脏结构受损或功能异常引起。</p>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">心脏病在人群中的发病情况是怎样的?</h1>
                    <p>因为心脏病是多种类型的总称，我国心脏病总体发病情况没有确切数据，不同类型的好发人群亦各有特点。根据一份国际健康报告显示，全球心脏病死亡率整体趋势逐年下降。</p>
                </div>
            </div>

            <div class="w3-row w3-padding-64">
                <div class="w3-twothird w3-container">
                    <h1 class="w3-text-teal">心脏病有哪些类型?</h1>
                    <p>根据病因心脏病可分为先天性心脏病和后天性心脏病。
                        <br><b>1 先天性心脏病</b>
                        先天性心脏病，简称先心病，是指因胎儿时期心脏发育异常导致的心脏畸形所致，常见的有室间隔缺损、房间隔缺损、法洛四联症等。部分患者会因先天免疫系统异常，导致心肌受损，也会形成先天性心脏病。
                        <br><b>2 后天性心脏病</b>
                        后天性心脏病这一名称是相对于先心病，对获得性因素导致的心脏病的总称，指因非发育性原因导致的心脏结构和功能异常，比如冠状动脉粥样硬化性心脏病（冠心病）、风湿性心脏病（风心病）、感染性心肌或心内膜病变、高血压性心脏病、肺源性心脏病（肺心病）等。
                    </p>
                </div>
            </div>

            <!-- END MAIN -->
        </div>

        <!-- Footer -->
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>