<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>心脏病预测</title>
</head>

<body>
    <form action="predict-post" method="post">
        {% csrf_token %}
        age: <input type="text" name="age" required="required">
        sex: <input type="text" name="sex" required="required"> -->
        cp: <input type="text" name="cp" required="required">
        trestbps: <input type="text" name="trestbps" required="required">
        chol: <input type="text" name="chol" required="required">
        fbs: <input type="text" name="fbs" required="required">
        restecg: <input type="text" name="restecg" required="required">
        thalach: <input type="text" name="thalach" required="required">
        exang: <input type="text" name="exang" required="required">
        oldpeak: <input type="text" name="oldpeak" required="required">
        slope: <input type="text" name="slope" required="required">
        ca: <input type="text" name="ca" required="required">
        thal: <input type="text" name="thal" required="required">
        <input type="submit" value="提交">
    </form>
</body>

</html>