{% load static %}
{% load crispy_forms_tags %}
<html>

<head>
	<title>丁甲的心脏健康平台</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	{% if messages %}
	{% for message in messages %}

	<script>
		alert("{{ message }}");
	</script>

	{% endfor %}
	{% endif %}


</head>

<body class="landing is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="{% url 'index' %}">心脏健康平台</h1>
			<nav id="nav">
				<ul>
					<li><a href="{% url 'index' %}">主页</a></li>
					<li>
						<a href="#" class="icon solid fa-angle-down">目录</a>
						<ul>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp;
							登出</a></li>
					{% else %}
					<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> &nbsp; 注册</a></li>
					<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; 登录</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<h2>心脏病健康平台</h2>
			<p>本平台提供心脏健康相关服务.</p>
			<ul class="actions special">
				<li><a href="{% url 'predict_index' %}" class="button primary">开始预测</a></li>
				<!-- <li><a href="#" class="button">更多</a></li> -->
			</ul>
		</section>

		<!-- Main -->
		<section id="main" class="container">

			<section class="box special">
				<header class="major">
					<h2>您在本平台会得到什么?
					</h2>
					<p>本平台提供心脏病相关概述, 心脏病病因, 心脏病常见症状以及心脏病的预测的等功能.</p>
				</header>
				<span class="image featured"><img src="{% static 'images/main_windows_2.jpg' %}" alt="" /></span>
			</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon solid major fa-bolt accent2"></span>
						<h3>心脏病相关概述</h3>
						<p>心脏病(heart disease)是心脏发生病变的疾病总称, 是一种常见的心内科疾病, 由心脏结构受损或功能异常引起...</p>
					</section>
					<section>
						<span class="icon solid major fa-chart-area accent3"></span>
						<h3>心脏病病因</h3>
						<p>心脏病往往受多种因素共同作用引起，包括先天因素和后天因素。
							先天因素包括家族遗传或自身先天缺陷、基因突变等；后天因素包括高血压、高血脂、糖尿病...</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon solid major fa-cloud accent4"></span>
						<h3>心脏病常见症状</h3>
						<p>心脏病的症状取决于心脏功能受损的程度和病情发展阶段，一些比较常见的心脏病相关症状包括心慌、心悸、呼吸困难、胸闷、胸痛等症状...</p>
					</section>
					<section>
						<span class="icon solid major fa-lock accent5"></span>
						<h3>心脏病预测</h3>
						<p>根据相关数据来推测用户患得心脏病的几率.</p>
					</section>
				</div>
			</section>

			<div class="row">
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_outline.webp' %}"
								alt="" /></span>
						<h3>心脏病相关概述</h3>
						<p>心脏病(heart disease)是心脏发生病变的疾病总称, 是一种常见的心内科疾病, 由心脏结构受损或功能异常引起...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_outline' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_reason.jpg' %}" alt="" /></span>
						<h3>心脏病病因</h3>
						<p>心脏病往往受多种因素共同作用引起，包括先天因素和后天因素。
							先天因素包括家族遗传或自身先天缺陷、基因突变等；后天因素包括高血压、高血脂、糖尿病...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_reason' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_go_doct.gif' %}" alt="" /></span>
						<h3>心脏疾病就医</h3>
						<p>如果出现心慌心悸、胸痛、呼吸困难或昏倒等情况，应尽快就医。
							医生可能问及的问题有：询问患者是否有得心脏病的亲属，来初步判断是否是家族遗传导致的...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_go_doctor' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_performance.jpg' %}"
								alt="" /></span>
						<h3>心脏病常见症状</h3>
						<p>心脏病的症状取决于心脏功能受损的程度和病情发展阶段，一些比较常见的心脏病相关症状包括心慌、心悸、呼吸困难、胸闷、胸痛等症状...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_performance' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_predict.jpg' %}" alt="" /></span>
						<h3>心脏疾病预后</h3>
						<p>仅有少数先天性心脏病可自然恢复，轻微的畸形（房间隔缺损、单纯肺动脉瓣狭窄）对血流动力学无明显影响，可终身不需治疗；严重的畸形（完全性大动脉转位或左心发育不良综合征）...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_predict' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_warning.jpg' %}" alt="" /></span>
						<h3>心脏疾病注意事项</h3>
						<p>患者应严格按照医嘱坚持服药，少食用油腻、高糖的食物，限制钠盐的摄入，适当运动...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_attention' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/heart_cure.jpg' %}" alt="" /></span>
						<h3>心脏疾病治疗</h3>
						<p>心脏病是心脏的结构和功能受损引起，作为一类疾病的总称，“心脏病”实际包括众多疾病，在治疗手段上，总体上来说多以药物治疗作为基础治疗方案，必要时行介入或手术治疗...</p>
						<ul class="actions special">
							<li><a href="{% url 'document_heart_cure' %}" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="{% static 'images/predict_1.jpg' %}" alt="" /></span>
						<h3>心脏病预测</h3>
						<p>根据相关数据来推测用户患得心脏病的几率.</p>
						<ul class="actions special">
							<li><a href="{% url 'predict_index' %}" class="button alt">开始预测</a></li>
						</ul>
					</section>

				</div>
			</div>

		</section>

		<!-- CTA -->
		<section id="cta">

			<h2>注册解锁更多功能</h2>
			<p>成为我们其中一员.</p>

			<form>
				<div>
					<div class="col-4 col-12-mobilep">
						<a href="{% url 'signup' %}" class="button">注册</a>
						<!-- <input type="submit" value="注册" class="fit" /> -->
					</div>
				</div>
			</form>

		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>