{% load static %}
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="login">
            <form action="signup-post" method="post">
                <div class="row">
                    <h2>注册</h2>
                    <div class="col-md-12">

                        {% csrf_token %}
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" name="username" placeholder="Ex. username">
                        <br>
                        <label for="email">邮箱</label>
                        <input type="text" class="form-control" name="email" placeholder="Ex. youremail@mail.com">
                        <br>
                        <label for="password">密码</label>
                        <input type="password" class="form-control" name="password" placeholder="Ex. A123@paswod">
                        <br>
                        <label for="confirm_password">确认密码</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Ex. A123@paswod">

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary btn-form">登录</a>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="注册" class="btn btn-outline-success btn-form">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>